<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>canciones</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    
    <nav class="navbar navbar-expand-md navbar-light" style="background-color: #cfe2ff;">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Cancion Management System</a>
    
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" th:href="@{/perfiles}"> Perfil Management </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" th:href="@{/playLists}"> Playlist Management </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" th:href="@{/canciones}"> Cancion Management </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" th:href="@{/artistas}"> Artista Management </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" th:href="@{/estadisticas}"> Estadistica Management </a>
            </li>
        </ul>
        </div>
    </nav>
    
        <div class ="container">
            <div class = "row">
                <h1 style="margin-top:30px"> List canciones </h1>
            </div>
            
            <div class = "row">
                <div class = "col-lg-3">
                    <a th:href = "@{/canciones/new}" class = "btn btn-primary btn-sm mb-3"> Add cancion </a>
                </div>
            </div>
            <!-- tabla canciones -->
            <table class = "table table-striped table-bordered">
                <thead class = "table-primary">
                    <tr>
                        <th> Titulo </th>
                        <th> Duracion </th>
                        <th> Año de publicación </th>
                        <th> Artista </th>
                        <th> Ruta </th>
                        <th> Actions </th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr th:each = "cancion : ${canciones}">
                        <td th:text = "${cancion.titulo}"></td>
                        <td th:text = "${cancion.duracion}"></td>
                        <td th:text = "${cancion.anioPublicacion}"></td>
                        <td th:text = "${cancion.artista.id_artista}"></td>
                        <td th:text = "${cancion.ruta}"></td>
                        
                        <td>
                            <!-- boton modificar la cancion -->
                            <a th:href = "@{/canciones/edit/{id_cancion}(id_cancion=${cancion.id_cancion})}"
                                class = "btn btn-primary">Update</a>
                            <!-- boton eliminar la cancion -->
                            <a th:href = "@{/canciones/{id_cancion}(id_cancion=${cancion.id_cancion})}"
                                class = "btn btn-danger">Delete</a>
                                
                        </td>
                    </tr>
                </tbody>
            
            </table>
            
        </div>




</body>
</html>